@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --spacing: 1rem; 
  --spacing-border: 0.5rem;
  --border-radius-ext: 1.5rem;
  --border-radius-int: 1rem;
}
.theme-default.theme-light {
  --color-text: 30 30 30;
  --color-bg: 241 245 249;
  --color-bg-from: 199 210 254;
  --color-bg-via: 254 202 202;
  --color-bg-to: 254 249 195;
  --color-primary: 241 245 249;
  --color-secondary: 241 245 249;
}
.theme-default.theme-dark {
  --color-text: 226 226 226;
  --color-bg: 30 41 59;
  --color-bg-from: 76 29 149;
  --color-bg-via: 21 94 117;
  --color-bg-to: 6 95 70;
  --color-primary: 30 41 59;
  --color-secondary: 30 41 59;
}

.theme-elegant {
  --spacing: 0.5rem; 
  --spacing-border: 0;
  --border-radius-ext: 0;
  --border-radius-int: 0;
}
.theme-elegant.theme-light {
  --color-text: 30 30 30;
  --color-bg: 250 250 250;
  --color-bg-from: 203 213 225;
  --color-bg-via: 229 231 235;
  --color-bg-to: 168 162 158;
  --color-primary: 241 245 249;
  --color-secondary: 241 245 249;
}
.theme-elegant.theme-dark {
  --color-text: 226 226 226;
  --color-bg: 10 10 10;
  --color-bg-from: 51 65 85;
  --color-bg-via: 31 41 55;
  --color-bg-to: 87 83 78;
  --color-primary: 30 41 59;
  --color-secondary: 30 41 59;
}

